[Unit]
Description=Foswiki FastCGI

[Service]
Environment=FOSWIKI_ROOT=/var/www/qwikis/core
Environment=FOSWIKI_FCGI=virtualhosts.fcgi
Environment=FOSWIKI_BIND=127.0.0.1:9000
Environment=FOSWIKI_CHILDREN=6
Environment=FOSWIKI_MAX_REQUESTS=100
Environment=FOSWIKI_MAX_SIZE=450000
Environment=FOSWIKI_CHECK_SIZE=10
Environment=FOSWIKI_QUIET=0
Environment=FOSWIKI_WARMING=1
Environment=FOSWIKI_DIE_TIMEOUT=5

# Optional, overrides settings above
EnvironmentFile=-/etc/default/foswiki-fastcgi

WorkingDirectory=/var/www

# Starts foswiki fcgi service
ExecStart=/usr/bin/perl ${FOSWIKI_ROOT}/bin/${FOSWIKI_FCGI} \
        -n $FOSWIKI_CHILDREN \
        -l $FOSWIKI_BIND \
        -c $FOSWIKI_CHECK_SIZE \
        -x $FOSWIKI_MAX_REQUESTS \
        -q $FOSWIKI_QUIET \
        -s $FOSWIKI_MAX_SIZE\
        -t $FOSWIKI_DIE_TIMEOUT\
        -w $FOSWIKI_WARMING
User=www-data
Group=www-data

Type=simple
Restart=on-abnormal

[Install]
WantedBy=multi-user.target
